<div class="modal-header">
    <h4 class="modal-title">Crear persona</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table id="table1" data-toolbar="#toolbar" data-toggle="table1" data-page-size="5">
    </table>

</div>
<div class="modal-footer">
    <button type="button" (click)="activeModal.close()" class="btn btn-primary">Cancelar</button>
</div>