<div class="row center">
    <div class="col-md-6" style="margin: 0 auto; float: none;">
        <div class="card">
            <div class="card-header">
                Asignar actividades
            </div>
            <div class="card-body">
                <form [formGroup]="formActividad">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="empleado">Empleado</label>
                            <div class="input-group mb-3">
                                <input type="text" formControlName="empleadoNombre" readonly class="form-control"
                                    placeholder="Buscar empleado" aria-label="Buscar empleado">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="buscarEmpleado()"
                                        type="button">Buscar</button>
                                </div>
                            </div>
                            <div
                                *ngIf="(formActividad.get('empleadoNombre').dirty || formActividad.get('empleadoNombre').touched)">
                                <div class="text-danger" *ngIf="formActividad.get('empleadoNombre').errors?.required">
                                    <small> * El empleado es requerido</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fincaId">Finca</label>
                                <select id="fincaId" formControlName="fincaId" class="form-control" name="fincaId"
                                    required class="form-control">
                                    <option value="0">-- Buscar finca --</option>
                                    <option *ngFor="let finca of fincas" value={{finca.fincaId}}>{{finca.nombre}}
                                    </option>
                                </select>
                                <div
                                    *ngIf="(formActividad.get('fincaId').dirty || formActividad.get('fincaId').touched)">
                                    <div class="text-danger" *ngIf="formActividad.get('fincaId').errors?.required">
                                        <small> * La finca es requerido</small>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="validarFinca() && (formActividad.get('fincaId').dirty || formActividad.get('fincaId').touched)">
                                        <small> * Seleccione una finca valida</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="actividadId">Actividad</label>
                                <select id="actividadId" formControlName="actividadId" class="form-control"
                                    name="actividadId" required class="form-control">
                                    <option value="0">-- Buscar actividad --</option>
                                    <option *ngFor="let actividad of actividades" value={{actividad.actividadId}}>
                                        {{actividad.descripcion}}</option>
                                </select>
                                <div
                                    *ngIf="(formActividad.get('actividadId').dirty || formActividad.get('actividadId').touched)">
                                    <div class="text-danger" *ngIf="formActividad.get('actividadId').errors?.required">
                                        <small> * La actividad es requerido</small>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="validarActividad() && (formActividad.get('actividadId').dirty || formActividad.get('actividadId').touched)">
                                        <small> * Seleccione una actividad valida</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="text" name="birthday" id="fechaCreacion" formControlName="fechaCreacion"
                                    class="form-control" />
                            </div>

                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1"  (ngModelChange)="changeGender($event)" [ngModel]="jornada" name="jornada"
                                id="jornada">
                            <label class="form-check-label" for="jornada">Jornada completa</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" (ngModelChange)="changeGender($event)"  value="2" [ngModel]="jornada"
                                name="jornada" id="hora">
                            <label class="form-check-label" for="hora">Trabajo por hora</label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="selectedJornada==2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="actividadHoras">Horas trabajadas</label>
                            <input name="actividadHoras" id="actividadHoras" type="number" [(ngModel)]="actividadHoras" class="form-control">
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary" [routerLink]="['/transacciones/actividades']">Regresar</button> &nbsp;
                <button class="btn btn-primary pull-right" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>