<div class="card">
    <div class="card-header">
        <h4> Detalle de planila</h4>
    </div>

    <div class="card-body">
        <table id="table" data-toggle="table" data-page-size="100" data-pagination="true" data-toolbar="#toolbar"
            data-show-toggle="true" data-show-columns="true">
        </table>
    </div>

    <div class="card-footer">
        <button [routerLink]="['/reportes/planillas']" class="btn btn-secondary">Regresar</button>
    </div>
</div>