<div class="info-box">
	<div class="info-box-content">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Rango de fechas</label>

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="far fa-calendar-alt"></i>
							</span>
						</div>
						<input type="text" class="form-control float-right" id="reservation">
						<div class="input-group-append">
							<button class="btn btn-info" (click)="buscarFecha()">Buscar</button>
						</div>
					</div>
					<!-- /.input group -->
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-12">
                <small>
                    <p> * Datos generados a partir de los ultimos 15 dias.
                    </p>
                </small>
            </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box">
			<span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Actividades</span>
				<span class="info-box-number">
					{{nActividades}}
				</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box mb-3">
			<span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Cosechas</span>
				<span class="info-box-number">{{nCosechas}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix hidden-md-up"></div>

	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box mb-3">
			<span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Inversiones</span>
				<span class="info-box-number">{{nInversiones}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box mb-3">
			<span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Planillas</span>
				<span class="info-box-number">{{nplanillas}}</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Reporte semanal de cosechas</h5>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">
							<strong>Cosechas del {{inicioMes}} al {{finMes}}</strong>
						</p>

						<table id="table" data-toggle="table" data-page-size="100" data-pagination="true"
							data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true">
						</table>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- ./card-body -->
			<div class="card-footer">
				<div class="row">
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							<h5 class="description-header">{{totalActividades | currency:'L. '}}</h5>
							<span class="description-text">TOTAL ACTIVIDADES</span>
						</div>
						<!-- /.description-block -->
					</div>
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							
							<h5 class="description-header">{{totalCosechas | currency:'L. '}}</h5>
							<span class="description-text">TOTAL COSECHAS</span>
						</div>
						<!-- /.description-block -->
					</div>
					<!-- /.col -->
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							
							<h5 class="description-header">{{totalInversiones | currency:'L. '}}</h5>
							<span class="description-text">TOTAL INVERSIONES</span>
						</div>
						<!-- /.description-block -->
					</div>
					<!-- /.col -->
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							
							<h5 class="description-header">{{totalPlanillas | currency:'L. '}}</h5>
							<span class="description-text">TOTAL PLANILLAS</span>
						</div>
						<!-- /.description-block -->
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->
			</div>
			<!-- /.card-footer -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.col -->
</div>