<div class="row center">
    <div class="col-md-6" style="margin: 0 auto; float: none;">
        <div class="card">
            <div class="card-header">
                Cambio de contraseña
            </div>
            <div class="card-body">
                <h5>Usuario: <strong> {{usuario}}</strong></h5>
                <hr>
                <form [formGroup]="formInicio">
                    <div class="input-group mb-3">
                        <label for="contraseniaActual">Contraseña actual</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" formControlName="contraseniaActual" id="contraseniaActual"
                                placeholder="Ingrese su contraseña actual" class="form-control" name="contraseniaActual" required
                                class="form-control">

                        </div>
                        <div *ngIf="(formInicio.get('contraseniaActual').dirty || formInicio.get('contraseniaActual').touched)">
                            <div class="text-danger" *ngIf="formInicio.get('contraseniaActual').errors?.required">
                                <small> * Ingrese su contraseña actual</small>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="contrasenia">Nueva contraseña</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" formControlName="contrasenia" id="contrasenia"
                                placeholder="Ingrese su nueva contraseña" class="form-control" name="contrasenia" required
                                class="form-control">

                        </div>
                        <div *ngIf="(formInicio.get('contrasenia').dirty || formInicio.get('contrasenia').touched)">
                            <div class="text-danger" *ngIf="formInicio.get('contrasenia').errors?.required">
                                <small> * Ingrese su nueva contraseña</small>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="contrasenia">Confirmar contraseña</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" formControlName="contrasenia2" id="contrasenia2"
                                placeholder="Confirme su contraseña" class="form-control" name="contrasenia2" required
                                class="form-control">

                        </div>
                        <div *ngIf="(formInicio.get('contrasenia2').dirty || formInicio.get('contrasenia2').touched)">
                            <div class="text-danger" *ngIf="formInicio.get('contrasenia2').errors?.required">
                                <small> * Ingrese su contraseña</small>
                            </div>
                            <div class="text-danger" *ngIf="!validarContrasenia()">
                                <small> * Las contraseñas deben coincidir</small>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-secondary" [routerLink]="['/home']">Cancelar</button>
                    <button (click)="cambiar()" class="btn btn-primary ml-2">Cambiar contraseña</button>
                    
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>