<div class="card">
  <div class="card-header">
    <h3 class="card-title">Empleados</h3>
  </div>
  <div class="card-body">
    <div *ngIf="mode == 'table'">
      <div id="toolbar">
        <div *ngIf="!imprimir">
          <button class="btn btn-primary" (click)="nuevo()">Nuevo</button>
        </div>
        <div *ngIf="imprimir">
          <button class="btn btn-primary" (click)="imprimirQR()">Imprimir codigo</button>&nbsp;

        </div>

      </div>
      <div class="table-responsive">
        <table id="table" data-toolbar="#toolbar" data-sort-name="codigo" data-sort-order="asc" data-toggle="table"
          data-page-size="20">
        </table>
      </div>
    </div>
    <div *ngIf="mode =='QR'">
      <app-generador-qr (view)="verTabla($event)" [empleados]="empleados"></app-generador-qr>
    </div>

  </div>

</div>