<div class="callout callout-info">
    <h5><i class="fas fa-info"></i> Nota:</h5>
    <p>Para realizar la busqueda, por favor seleccione como datos minimos: <b>el rango de fechas, la finca y el lote, o
            el cultivo</b>, los demas datos son opcionales.</p>
</div>
<div class="card">
    <div class="card-header">
        <h4> Reporte de cosechas</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Finca</label>
                            <select class="form-control" (change)="getLotes(fincaSelected)" [(ngModel)]="fincaSelected">
                                <option value="0">-- TODOS --</option>
                                <option [ngValue]="finca.fincaId" *ngFor="let finca of fincas">{{finca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Lote</label>
                            <select class="form-control" [(ngModel)]="lotesSelected">
                                <option value="0">-- TODOS --</option>
                                <option [value]="lote.loteId" *ngFor="let lote of lotes">{{lote.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cultivo</label>
                            <select class="form-control" [(ngModel)]="cultivosSelected">
                                <option value="0">-- TODOS --</option>
                                <option [value]="cultivo.cultivoId" *ngFor="let cultivo of cultivos">
                                    {{cultivo.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Empleado</label>
                            <select class="form-control" [(ngModel)]="empleadosSelected">
                                <option value="0">-- TODOS --</option>
                                <option [value]="empleado.empleadoId" *ngFor="let empleado of empleados">
                                    {{empleado.nombres}} {{empleado.apellidos}}</option>
                            </select>
                            <!-- <select class="form-control" *ngFor="let empleado of empleados">
                                
                                <option>{{empleado.nombres}} {{empleado.apellidos}}</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Rango de fechas</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary1" [(ngModel)]="agrupar">
                            <label class="align-self-center" for="checkboxPrimary1">Marque la siguiente casilla si necesita agrupar los resultados por empleado</label>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary2" [(ngModel)]="pagada">
                            <label class="align-self-center" for="checkboxPrimary2">Marque la siguiente casilla si desea mostrar los registros que ya fueron pagados</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolbar">
            <button class="btn btn-primary" (click)="getCosechas(false)">Aplicar filtros</button>
        </div>
        <table id="table" data-toggle="table" data-page-size="100" data-pagination="true" data-toolbar="#toolbar"
            data-show-toggle="true" data-show-columns="true">
        </table>
    </div>
</div>