<div class="card">
    <div class="card-header">
        <h4> Generar resumen</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Rango de fechas</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
        </div>
        <div class="row ">

            <div class="col-md-4">
                <div class="small-box bg-info mx-auto mb-6">
                    <div class="inner">
                        <h4>Resumen de cosechas</h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <a [routerLink]="['cosechas']" class="small-box-footer" (click)="planillaCultivos()">
                        <!-- <button class="btn btn-link mx-auto" (click)="planillaCultivos()"> -->
                        Generar resumen <i class="fas fa-arrow-circle-right"></i>
                        <!-- </button> -->
                    </a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="small-box bg-info mx-auto">
                    <div class="inner">
                        <h4>Resumen de actividades por finca</h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <a [routerLink]="['actividad']" class="small-box-footer" (click)="planillaActividad()">
                        Generar resumen <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="small-box bg-info mx-auto">
                    <div class="inner">
                        <h4>Resumen de actividades por lote</h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <a [routerLink]="['actividadLote']" class="small-box-footer" (click)="planillaActividad()">
                        Generar resumen <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>