<div class="callout callout-info">
    <h5><i class="fas fa-info"></i> Nota:</h5>
    <p>Para buscar actividades, por favor seleccione un rango de fechas menor a 15 dias.</p>
</div>
<div class="info-box">
    <div class="info-box-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Fecha de busqueda</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="col-md-8 align-self-center">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="checkboxPrimary1" [(ngModel)]="pagada">
                    <label for="checkboxPrimary1">
                        Marque la siguiente casilla si desea mostrar los registros que ya fueron pagados
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" (click)="getData()">Buscar</button>
            </div>
            
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4>Actividades por finca</h4>
    </div>

    <div class="card-body">

        <div id="toolbar">
            <button class="btn btn-primary" [routerLink]="['crear']">Nuevo</button>
        </div>
        <table id="table" data-toolbar="#toolbar" data-toggle="table" data-page-size="25">
        </table>
    </div>
</div>