<div class="modal-header">
    <h4 class="modal-title">Crear finca</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formFinca" class="needs-validation">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" placeholder="Ingrese el nombre de la finca"
                        class="form-control" name="nombre" required class="form-control">
                    <div *ngIf="(formFinca.get('nombre').dirty || formFinca.get('nombre').touched)">
                        <div class="text-danger" *ngIf="formFinca.get('nombre').errors?.required">
                            <small> * El nombre es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="formFinca.get('nombre').errors?.maxlength">
                            <small> * El nombre no debe exceder los 120 caracteres</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea type="text" id="descripcion" formControlName="descripcion"
                        placeholder="Ingrese la Descripcion" class="form-control" name="descripcion" required
                        class="form-control"></textarea>
                    <div *ngIf="(formFinca.get('descripcion').dirty || formFinca.get('descripcion').touched)">
                        <div class="text-danger" *ngIf="formFinca.get('descripcion').errors?.required">
                            <small> * La Descripcion es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formFinca.get('descripcion').errors?.maxlength">
                            <small> * La Descripcion no debe exceder los 15 caracteres</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <textarea type="text" id="direccion" formControlName="direccion" placeholder="Ingrese la Direccion"
                        class="form-control" name="direccion" required class="form-control"></textarea>
                    <div *ngIf="(formFinca.get('direccion').dirty || formFinca.get('direccion').touched)">
                        <div class="text-danger" *ngIf="formFinca.get('direccion').errors?.required">
                            <small> * La Direccion es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formFinca.get('direccion').errors?.maxlength">
                            <small> * La Direccion no debe exceder los 15 caracteres</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <ol-map lat="14.065049" lon="-87.1736889" zoom="8" width="100%" height="400px">
            <ol-control control="Zoom">
            </ol-control>
            <ol-control control="ScaleLine">
            </ol-control>
        </ol-map> -->
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
</div>