<div class="modal-header">
    <h4 class="modal-title">Crear persona</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formEmpleado" class="needs-validation">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" id="codigo" formControlName="codigo" placeholder="Ingrese codigo del empleado" 
                        class="form-control" name="codigo" required class="form-control" mask="0{5}">
                    <div *ngIf="(formEmpleado.get('codigo').dirty || formEmpleado.get('codigo').touched)">
                        <div class="text-danger" *ngIf="formEmpleado.get('codigo').errors?.required">
                            <small> * El codigo es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="formEmpleado.get('codigo').errors?.maxlength">
                            <small> * El codigo no debe exceder los 50 caracteres</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="documento">Identificacion</label>
                    <input type="text" id="documento" formControlName="documento"
                        placeholder="Ingrese la Identificacion" class="form-control" name="documento" required
                        class="form-control">
                    <div *ngIf="(formEmpleado.get('documento').dirty || formEmpleado.get('documento').touched)">
                        <div class="text-danger" *ngIf="formEmpleado.get('documento').errors?.required">
                            <small> * La Identificacion es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formEmpleado.get('documento').errors?.maxlength">
                            <small> * La Identificacion no debe exceder los 13 caracteres</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" id="nombres" formControlName="nombres" placeholder="Ingrese los nombres"
                        class="form-control" name="nombres" required class="form-control" mask="0{120}"
                        [patterns]="pattern">
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('nombres').errors?.required && (formEmpleado.get('nombres').dirty || formEmpleado.get('nombres').touched)">
                        <small> * El nombre es requerido</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" id="apellidos" formControlName="apellidos" placeholder="Ingrese los apellidos"
                        class="form-control" name="apellidos" required class="form-control" mask="A{120}">
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('apellidos').errors?.required && (formEmpleado.get('apellidos').dirty || formEmpleado.get('apellidos').touched)">
                        <small> * El apellido es requerido</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formpicker">Fecha nacimiento</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fechaNacimiento"
                            formControlName="fechaNacimiento" required ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('fechaNacimiento').errors?.required && (formEmpleado.get('fechaNacimiento').dirty || formEmpleado.get('fechaNacimiento').touched)">
                        <small> * La fecha de nacimiento es requerida</small>
                    </div>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('fechaNacimiento').errors?.ngbDate?.invalid && (formEmpleado.get('fechaNacimiento').dirty || formEmpleado.get('fechaNacimiento').touched)">
                        <small> * El formato de la fecha de nacimiento debe ser valida</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nacionalidad">Nacionalidad</label>
                    <select id="nacionalidad" formControlName="nacionalidad" class="form-control" name="nacionalidad"
                        required class="form-control">
                        <option value="0">-- Seleccione el pais --</option>
                        <option *ngFor="let pais of paises" value={{pais.alpha3Code}}>{{pais.name}}</option>
                    </select>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('nacionalidad').errors?.required && (formEmpleado.get('nacionalidad').dirty || formEmpleado.get('nacionalidad').touched)">
                        <small> * La nacionalidad es requerida</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sexo">Sexo</label>
                    <select id="sexo" formControlName="sexo" class="form-control" name="sexo" required
                        class="form-control">
                        <option value="0">-- Seleccione el sexo --</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('sexo').errors?.required && (formEmpleado.get('sexo').dirty || formEmpleado.get('sexo').touched)">
                        <small> * El sexo es requerido</small>
                    </div>
                    <div class="text-danger"
                        *ngIf="validarGenero() && (formEmpleado.get('sexo').dirty || formEmpleado.get('sexo').touched)">
                        <small> * Seleccione un sexo valido</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cargoId">Cargo</label>
                    <select id="cargoId" formControlName="cargoId" class="form-control" name="cargoId" required
                        class="form-control">
                        <option value="0">-- Seleccione el cargo --</option>
                        <option *ngFor="let cargo of cargos" value={{cargo.cargoId}}>{{cargo.descripcion}}</option>
                    </select>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('cargoId').errors?.required && (formEmpleado.get('cargoId').dirty || formEmpleado.get('cargoId').touched)">
                        <small> * El cargo es requerido</small>
                    </div>
                    <div class="text-danger"
                        *ngIf="validarCargo() && (formEmpleado.get('cargoId').dirty || formEmpleado.get('cargoId').touched)">
                        <small> * Seleccione un cargo valido</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correoElectronico">Correo electronico</label>
                    <input type="text" id="correoElectronico" formControlName="correoElectronico"
                        placeholder="Ingrese el correoElectronico" class="form-control" name="correoElectronico"
                        class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" id="telefono" formControlName="telefono" placeholder="Ingrese el telefono"
                        class="form-control" name="telefono" class="form-control">
                    <div *ngIf="(formEmpleado.get('telefono').dirty || formEmpleado.get('telefono').touched)">
                        <div class="text-danger" *ngIf="formEmpleado.get('telefono').errors?.maxlength">
                            <small> * La Identificacion no debe exceder los 8 caracteres</small>
                        </div>
                        <div class="text-danger" *ngIf="formEmpleado.get('telefono').errors?.minlength">
                            <small> * La Identificacion debe tener minimo 8 caracteres</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaInicio">Fecha de ingreso</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fechaInicio"
                            formControlName="fechaInicio" required ngbDatepicker #b="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('fechaInicio').errors?.required && (formEmpleado.get('fechaInicio').dirty || formEmpleado.get('fechaInicio').touched)">
                        <small> * La fecha de nacimiento es requerida</small>
                    </div>
                    <div class="text-danger"
                        *ngIf="formEmpleado.get('fechaInicio').errors?.ngbDate?.invalid && (formEmpleado.get('fechaInicio').dirty || formEmpleado.get('fechaInicio').touched)">
                        <small> * El formato de la fecha de nacimiento debe ser valida</small>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
</div>