<div class="card">
    <div class="card-header">
        <h4> Generar planillas</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Finca</label>
                            <select class="form-control" (change)="getLotes(fincaSelected)" [(ngModel)]="fincaSelected">
                                <option value="0">-- TODOS --</option>
                                <option [ngValue]="finca.fincaId" *ngFor="let finca of fincas">{{finca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lote</label>
                            <select class="form-control" [(ngModel)]="lotesSelected">
                                <option value="0">-- TODOS --</option>
                                <option [value]="lote.loteId" *ngFor="let lote of lotes">{{lote.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Rango de fechas</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">

            <div class="col-md-4">
                <div class="small-box bg-info mx-auto mb-6">
                    <div class="inner">
                        <h4>Planilla de cosechas</h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <a [routerLink]="['cosechas']" class="small-box-footer" (click)="planillaCultivos()">
                        <!-- <button class="btn btn-link mx-auto" (click)="planillaCultivos()"> -->
                        Generar planillas <i class="fas fa-arrow-circle-right"></i>
                        <!-- </button> -->
                    </a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="small-box bg-info mx-auto">
                    <div class="inner">
                        <h4>Planilla de actividades por finca</h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <a [routerLink]="['actividad']" class="small-box-footer"  (click)="planillaActividad()">
                        Generar planillas <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="small-box bg-info mx-auto">
                    <div class="inner">
                        <h4>Planilla de actividades por lote</h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-money-check"></i>
                    </div>
                    <a [routerLink]="['actividadLote']" class="small-box-footer" (click)="planillaActividad()">
                        Generar planillas <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-md-12">
                <small>
                    <p> * Planilla de actividades incluye todo lo relacionado a un lote u otras actividades de los
                        empleados. <br>
                        <b>Nota:</b> Para generar planilla de actividades por lote, seleccionar finca, lote, fecha de
                        inicio y fin de la planilla. <br>
                        Para generar planilla de actividades por finca, seleccionar solamente la finca, fecha de inicio
                        y final de la planilla.
                    </p>
                </small>
            </div>
        </div>
    </div>
</div>