<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Portal</b> Administrativo
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body">
                <p class="login-box-msg">Inicio de sesion</p>
    
                <form [formGroup]="formInicio">
                    <div class="input-group mb-3">
                        <label for="usuario">Usuario </label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" formControlName="usuario" name="usuario" class="form-control"
                                placeholder="Ingrese su usuario">
    
                        </div>
                        <div *ngIf="(formInicio.get('usuario').dirty || formInicio.get('usuario').touched)">
                            <div class="text-danger" *ngIf="formInicio.get('usuario').errors?.required">
                                <small> * Ingrese su nombre de usuario</small>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="contrasenia">Contraseña</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" (keyup.enter)="login()" formControlName="contrasenia"
                                id="contrasenia" placeholder="Ingrese su contraseña" class="form-control" name="contrasenia"
                                required class="form-control">
    
                        </div>
                        <div *ngIf="(formInicio.get('contrasenia').dirty || formInicio.get('contrasenia').touched)">
                            <div class="text-danger" *ngIf="formInicio.get('contrasenia').errors?.required">
                                <small> * Ingrese su contraseña</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-6">
                            <button (click)="login()" class="btn btn-primary btn-block">Iniciar Sesion</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
