
    <nav class="main-header navbar navbar-expand navbar-white navbar-light mb-3">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"  role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a [routerLink]="['/home']" class="nav-link">Inicio</a>
            </li>
        </ul>
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item mr-2">
                <button class=" btn btn-outline-secondary" (click)="descargarAplicacion()" type="button">
                    Descargar aplicacion
                </button>
            </li> 
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item">
                <button class=" btn btn-outline-danger" (click)="cerrarSesion()" type="button">
                    Cerrar Sesion
                </button>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->

        <a [routerLink]="['/home']" class="brand-link">
            <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
            <span class="brand-text font-weight-light ml-3">Portal Administrativo</span>
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../assets/user.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a [routerLink]="['/empleados/cambio-contrasenia']" class="d-block">{{user | uppercase}}</a>
            </div>
          </div>
    
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview">
                        <a href="#"  class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Usuarios
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/empleados/usuarios']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Registros</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#"  class="nav-link">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>
                                Empleados
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/empleados']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Registros</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/empleados/historial']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Historial</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#"  class="nav-link">
                            <i class="nav-icon fas fa-tools"></i>
                            <p>
                                Mantenimiento
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/catalogos/cargos']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Cargos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/catalogos/actividades']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Actividades</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/catalogos/fincas']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Fincas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/catalogos/lotes']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lotes</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/catalogos/cultivos']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Cultivos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/catalogos/inversiones']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inversiones</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#"  class="nav-link">
                            <i class="nav-icon fas fa-sliders-h"></i>
                            <p>
                                Transacciones
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/transacciones/planillas']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Planilla detallada</p>
                                </a>
                            </li>                        
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/transacciones/resumen']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Planilla resumen</p>
                                </a>
                            </li>                        
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/transacciones/actividades']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Actividades por finca</p>
                                </a>
                            </li>                        
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/transacciones/actividadesLote']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Actividades por lote</p>
                                </a>
                            </li>                        
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/transacciones/verificarActividades']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Verificacion de actividades</p>
                                </a>
                            </li>                        
                        </ul>
                    </li>
                    
                    <li class="nav-item has-treeview">
                        <a href="#"  class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                Reportes
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a [routerLink]="['/reportes/asistencias']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Asistencias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/reportes/actividades']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Actividades</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/reportes/cultivos']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Cosechas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/reportes/inversiones']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inversiones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/reportes/planillas']" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Planillas</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
