<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalle de asistencias</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div id="toolbar2">
        <p>Empleado: <b>{{asistenciasDetalle.empleado}}</b></p>
    </div>
    
    <table id="table1" data-toolbar="#toolbar2" data-toggle="table1" data-page-size="30">
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" (click)="activeModal.close()" type="button">Cerrar</button>
</div>