<div class="card">
    <div class="card-header">
      <h3 class="card-title">Lotes</h3>
    </div>
    <div class="card-body">
      <div id="toolbar">
        <button class="btn btn-primary" (click)="nuevo()">Nuevo</button>
      </div>
      
      <table id="table" data-toolbar="#toolbar" data-toggle="table" data-page-size="5">
      </table>
  
    </div>
  
  </div>