
<div *ngIf="isLoggedIn$ | async; else loggedOut" >
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <section class="content" style="padding-top: 18px;">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>

<ng-template #loggedOut>
  <router-outlet></router-outlet>
</ng-template>


<aside *ngIf="isLoggedIn$ | async" class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer *ngIf="isLoggedIn$ | async" class="main-footer text-uppercase">
  <strong>&copy; 2020 {{name}}.</strong>
  Todos los derechos reservados.
</footer>