<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cultivos</h3>
    </div>
    <div class="card-body">
        <div id="toolbar">
            <div *ngIf="!agregar">
                <button class="btn btn-primary" (click)="nuevo()" >Nuevo</button>
            </div>
            <div *ngIf="agregar">
                <form [formGroup]="formCultivo" class="needs-validation">
                    <div class="form-inline">
                        <input type="text" formControlName="descripcion" class="form-control mr-2" placeholder="Nombre del cultivo"
                            aria-label="Nombre del cultivo" aria-describedby="button-addon4">
                        
                        <div class="input-group">
                            <input class="form-control" formControlName="costo" id="costo" currencyMask>
                            <div class="input-group-append" id="button-addon4">
                                <button class="btn btn-primary" (click)="guardar()" type="button">Agregar</button>
                                <button class="btn btn-secondary" (click)="cancelar()" type="button">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(formCultivo.get('descripcion').dirty || formCultivo.get('descripcion').touched) || (formCultivo.get('costo').dirty || formCultivo.get('costo').touched) ">
                        <div class="text-danger" *ngIf="formCultivo.get('descripcion').errors?.required">
                            <small> * El cultivo es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="formCultivo.get('costo').errors?.required">
                            <small> * El costo es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="formCultivo.get('descripcion').errors?.maxlength">
                            <small> * El cultivo no debe exceder los 255 caracteres</small>
                        </div>
                        <div class="text-danger" *ngIf="validarCosto()">
                            <small>* Es costo debe ser mayor que 0</small>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <table id="table" data-toolbar="#toolbar" data-toggle="table" data-page-size="5">
        </table>

    </div>

</div>