<div class="callout callout-info">
    <h5><i class="fas fa-info"></i> Nota:</h5>
    <p>La búsqueda realizada por defecto son todas aquellas actividades que aún no han sido pagadas (su planilla no ha
        sido generada).</p>
</div>
<div class="card">
    <div class="card-header">
        <h4>Actividades</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Finca</label>
                            <select class="form-control" (change)="getLotes(fincaSelected)" [(ngModel)]="fincaSelected">
                                <option value="0">-- TODOS --</option>
                                <option [ngValue]="finca.fincaId" *ngFor="let finca of fincas">{{finca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lote</label>
                            <select class="form-control" [(ngModel)]="lotesSelected">
                                <option value="0">-- TODOS --</option>
                                <option [value]="lote.loteId" *ngFor="let lote of lotes">{{lote.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Rango de fechas</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary1" [(ngModel)]="agrupar">
                            <label class="align-self-center" for="checkboxPrimary1">Marque la siguiente casilla si necesita agrupar los resultados por empleado</label>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary2" [(ngModel)]="pagada">
                            <label class="align-self-center" for="checkboxPrimary2">Marque la siguiente casilla si desea mostrar los registros que ya fueron pagados</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mr-2" (click)="planillaActividad(1)">Aplicar filtros (Actividades por
            finca)</button>
        <button class="btn btn-primary mr-2" (click)="planillaActividad(2)">Aplicar filtros (Actividades por
            lote)</button>
        <button class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
    </div>
</div>
<div *ngIf="tabla=='lote'">
    <app-planilla-lote-actividades></app-planilla-lote-actividades>
</div>
<div *ngIf="tabla=='empleado'">
    <app-planilla-empleado-actividades>
    </app-planilla-empleado-actividades>
</div>