<div class="modal-header">
    <h4 class="modal-title">{{accion |titlecase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4>Seguro desea {{accion}} al empleado {{nombre}}?</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="fecha">Seleccione una fecha</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="fechaInicio"
                        [(ngModel)]="fecha" required ngbDatepicker #b="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="guardar()">Aceptar</button>
</div>