<div class="modal-header">
    <h4 class="modal-title">Crear lote</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formLote" class="needs-validation">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fincaId">Finca</label>
                    <select id="fincaId" formControlName="fincaId" class="form-control" name="fincaId" required class="form-control">
                        <option value="0">-- Buscar finca --</option>
                        <option *ngFor="let finca of fincas" value={{finca.fincaId}}>{{finca.nombre}}</option>
                    </select>
                    <div *ngIf="(formLote.get('fincaId').dirty || formLote.get('fincaId').touched)">
                        <div class="text-danger" *ngIf="formLote.get('fincaId').errors?.required">
                            <small> * La finca es requerido</small>
                        </div>
                        <div class="text-danger"
                        *ngIf="validarFinca() && (formLote.get('fincaId').dirty || formLote.get('fincaId').touched)">
                        <small> * Seleccione una finca valida</small>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" id="codigo" formControlName="codigo" placeholder="Ingrese el codigo" class="form-control" name="codigo" required class="form-control">
                    <div *ngIf="(formLote.get('codigo').dirty || formLote.get('codigo').touched)">
                        <div class="text-danger" *ngIf="formLote.get('codigo').errors?.required">
                            <small> * El codigo es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formLote.get('codigo').errors?.maxlength">
                            <small> * El codigo no debe exceder los 25 caracteres</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea type="text" id="descripcion" formControlName="descripcion"
                        placeholder="Ingrese la Descripcion" class="form-control" name="descripcion" rows="3" required
                        class="form-control"></textarea>
                    <div *ngIf="(formLote.get('descripcion').dirty || formLote.get('descripcion').touched)">
                        <div class="text-danger" *ngIf="formLote.get('descripcion').errors?.required">
                            <small> * La Descripcion es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formLote.get('descripcion').errors?.maxlength">
                            <small> * La Descripcion no debe exceder los 15 caracteres</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
</div>