<div class="card">
    <div class="card-header">
        <h4> Planilla</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipo de operacion</label>
                            <select class="form-control" [(ngModel)]="tipoOperacionSelected">
                                <option value="0" selected>-- TODOS --</option>
                                <option value="c">Cosechas</option>
                                <option value="b">Actividades por finca</option>
                                <option value="a">Actividades por lote</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rango de fechas</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="toolbar">
            <button (click)="getData()" class="btn btn-primary">Aplicar filtros</button>
        </div>
        <table id="table" data-toolbar="#toolbar" data-show-footer="true" data-toggle="table"
            data-page-size="5">
        </table>
    </div>
</div>