<div class="card">
    <div class="card-header">
        <h3 class="card-title">Actividades</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-info" role="alert" *ngIf="agregar">
            Al activar el pago recurrente da como resultado la sumatoria del costo de actividad en cada registro
            asociada a ella, por ejemplo actividades por finca o por lote.
        </div>
        <div id="toolbar">
            <button class="btn btn-primary" (click)="nuevo(content)">Nuevo</button>
        </div>

        <table id="table" data-toolbar="#toolbar" data-toggle="table" data-page-size="5">
        </table>

    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear actividad</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formActividad" class="needs-validation">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" formControlName="descripcion" class="form-control mr-2"
                            placeholder="Nombre de la actividad" aria-label="Nombre de la actividad"
                            aria-describedby="button-addon4">
                    </div>
                    <div *ngIf="(formActividad.get('descripcion').dirty || formActividad.get('descripcion').touched)">
                        <div class="text-danger" *ngIf="formActividad.get('descripcion').errors?.required">
                            <small> * La actividad es requerida</small>
                        </div>

                        <div class="text-danger" *ngIf="formActividad.get('descripcion').errors?.maxlength">
                            <small> * La actividad no debe exceder los 160 caracteres</small>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="costo">Costo por dia</label>
                        <input class="form-control" formControlName="costo" placeholder="Costo por dia" id="costo"
                            currencyMask>
                    </div>

                    <div *ngIf="(formActividad.get('costo').dirty || formActividad.get('costo').touched)">
                        <div class="text-danger" *ngIf="formActividad.get('costo').errors?.required">
                            <small> * El costo por dia es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="validarCosto()">
                            <small>* El costo debe ser mayor que 0</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pagoPorHora">Costo por hora</label>
                        <input class="form-control" formControlName="pagoPorHora" placeholder="Costo por hora"
                            id="pagoPorHora" currencyMask>
                    </div>
                    <div *ngIf="(formActividad.get('pagoPorHora').dirty || formActividad.get('pagoPorHora').touched)">
                        <div class="text-danger" *ngIf="formActividad.get('pagoPorHora').errors?.required">
                            <small> * El costo por hora es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="validarCosto()">
                            <small>* El costo debe ser mayor que 0</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pagoRecurrente"
                            formControlName="pagoRecurrente">
                        <label class="form-check-label" for="pagoRecurrente">Pago recurrente</label>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary ml-2" (click)="guardar(); modal.close();" type="button">Agregar</button>
        <button class="btn btn-secondary" (click)="modal.dismiss()" type="button">Cancelar</button>
    </div>
</ng-template>