<div class="card">
    <div class="card-header">
        <h4> Historial</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">
                    <div class="col-md-6">
                        <label for="empleado">Empleado</label>
                        <div class="input-group mb-3">
                            <input type="text" [(ngModel)]="empleado" name="empleado" id="empleado" readonly class="form-control"
                                placeholder="Buscar empleado" aria-label="Buscar empleado">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="buscarEmpleado()" type="button">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rango de fechas</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small>
                            <p> * En caso de requerir todos los empleado, dejar el filtro de empleado vacio, si desea traer uno en especifico haga click en el boton buscar al lado de empleado y seleccione el empleado.
                            </p>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div id="toolbar1">
            <button (click)="getData()" class="btn btn-primary">Aplicar filtros</button>
        </div>
        <table id="table" data-toolbar="#toolbar1" data-toggle="table" data-page-size="25">
        </table>
    </div>
</div>