<div id="htmlData">
    <div class="row ">
        
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 mb-4"  *ngFor="let empleado of empleados, let i = index">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h5><strong>{{name | uppercase}}</strong></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <qrcode [qrdata]="getData(empleado)" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6><strong>{{empleado.nombres}} {{empleado.apellidos}}</strong></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>ID: {{empleado.documento}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<button class="btn btn-secondary pull-right" (click)="regresar()" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Cancelar</button>&nbsp;
<button class="btn btn-info pull-right" (click)="print()" ><i class="fas fa-print"></i>&nbsp;Imprimir</button>