<div class="card">
    <div class="card-header">
        <h4> Resumen generado de actividades por finca</h4>
    </div>
    <div id="toolbar">
        <div *ngIf="!pagar && !reporte">
            <button (click)="selectAll()" id="checkAll" class="btn btn-secondary">Seleccionar todos</button>
        </div>
        <div *ngIf="pagar && !reporte">
            <button class="btn btn-info mr-2" (click)="pagarPlanilla()">Pagar</button>
            <button (click)="getImporte()" class="btn btn-info">Importe</button>
        </div>
    </div>
    <div class="card-body">
        <table id="table" data-toggle="table" data-page-size="100" data-maintain-meta-data="true" data-pagination="true"
            data-toolbar="#toolbar" data-show-toggle="true" data-show-columns="true">
        </table>
        <br>
        <div *ngIf="viewImporte">
            <div class="row">
                <div class="col-md-4">
                    <div [innerHTML]="rs" class="alert alert-info" role="alert">
                    </div>
                </div>
                <div class="col-md-6 my-auto">
                    <h2>Total: {{total | currency:'L. '}}</h2>
                    <small>* Esta cifra representa el total de las casillas seleccionadas</small>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="!reporte" class="card-footer">
        <button [routerLink]="['/transacciones/resumen']" class="btn btn-secondary">Regresar</button>
    </div>
</div>