<div class="modal-header">
    <h4 class="modal-title">Crear inversion</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formInversion" class="needs-validation">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loteId">Lote</label>
                    <select id="loteId" formControlName="loteId" class="form-control" name="loteId" required class="form-control">
                        <option value="0">-- Buscar lote --</option>
                        <option *ngFor="let lote of lotes" value={{lote.loteId}}>{{lote.descripcion}}</option>
                    </select>
                    <div *ngIf="(formInversion.get('loteId').dirty || formInversion.get('loteId').touched)">
                        <div class="text-danger" *ngIf="formInversion.get('loteId').errors?.required">
                            <small> * El lote es requerido</small>
                        </div>
                        <div class="text-danger"
                        *ngIf="validarLote() && (formInversion.get('loteId').dirty || formInversion.get('loteId').touched)">
                        <small> * Seleccione un lote valida</small>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="concepto">Concepto</label>
                    <input type="text" id="concepto" formControlName="concepto" placeholder="Ingrese el concepto" class="form-control" name="concepto" required class="form-control">
                    <div *ngIf="(formInversion.get('concepto').dirty || formInversion.get('concepto').touched)">
                        <div class="text-danger" *ngIf="formInversion.get('concepto').errors?.required">
                            <small> * El concepto es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formInversion.get('concepto').errors?.maxlength">
                            <small> * El concepto no debe exceder los 25 caracteres</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea type="text" id="descripcion" formControlName="descripcion"
                        placeholder="Ingrese la Descripcion" class="form-control" name="descripcion" rows="3" required
                        class="form-control"></textarea>
                    <div *ngIf="(formInversion.get('descripcion').dirty || formInversion.get('descripcion').touched)">
                        <div class="text-danger" *ngIf="formInversion.get('descripcion').errors?.required">
                            <small> * La Descripcion es requerida</small>
                        </div>
                        <div class="text-danger" *ngIf="formInversion.get('descripcion').errors?.maxlength">
                            <small> * La Descripcion no debe exceder los 15 caracteres</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="costo">Costo</label>
                    <input class="form-control" formControlName="costo" id="costo" currencyMask>
                    <div *ngIf="(formInversion.get('costo').dirty || formInversion.get('costo').touched)">
                        <div class="text-danger" *ngIf="formInversion.get('costo').errors?.required">
                            <small> * El costo es requerido</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
</div>