<div class="modal-header">
    <h4 class="modal-title">Crear usuario</h4>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formUsuario" class="needs-validation">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nombre">Usuario</label>
                    <input type="text" id="nombre" formControlName="nombre" autocomplete="false" placeholder="Ingrese el nombre del empleado"
                        class="form-control" name="nombre" required class="form-control">
                    <div *ngIf="(formUsuario.get('nombre').dirty || formUsuario.get('nombre').touched)">
                        <div class="text-danger" *ngIf="formUsuario.get('nombre').errors?.required">
                            <small> * El nombre es requerido</small>
                        </div>
                        <div class="text-danger" *ngIf="formUsuario.get('nombre').errors?.maxlength">
                            <small> * El nombre no debe exceder los 50 caracteres</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" id="contrasenia" formControlName="contrasenia"
                        placeholder="Ingrese la contraseña" class="form-control" name="contrasenia" required
                        class="form-control">
                    <div class="text-danger"
                        *ngIf="formUsuario.get('contrasenia').errors?.required && (formUsuario.get('contrasenia').dirty || formUsuario.get('contrasenia').touched)">
                        <small> * La contraseña es requerida</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="contrasenia2">Confirmar contraseña</label>
                    <input type="password" id="contrasenia2" formControlName="contrasenia2"
                        placeholder="Ingrese la contraseña" class="form-control" name="contrasenia2" required
                        class="form-control">
                    <div *ngIf="(formUsuario.get('contrasenia2').dirty || formUsuario.get('contrasenia2').touched)">
                        <div class="text-danger"
                            *ngIf="formUsuario.get('contrasenia2').errors?.required && (formUsuario.get('contrasenia2').dirty || formUsuario.get('contrasenia2').touched)">
                            <small> * Por favor, confirme la contraseña</small>

                        </div>

                        <div class="text-danger" *ngIf="!validarContrasenia()">
                            <small> * Las contraseñas deben coincidir</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" formControlName="accesoMovil" id="accesoMovil">
                    <label class="form-check-label" for="accesoMovil">Acceso movil</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" formControlName="accesoWeb" id="accesoWeb">
                    <label class="form-check-label" for="accesoWeb">Acceso web</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" formControlName="activo" id="activo">
                    <label class="form-check-label" for="activo">Seleccione esta opcion si el usuario esta activo.</label>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
</div>