<div class="card">
    <div class="card-header">
        <h4> Verificar actividades</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Fecha de busqueda</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" (onchange)="setDate()" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Fecha de asignacion</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation2">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tipo de actividad</label>
                            <select class="form-control" [(ngModel)]="actividadSelected">
                                <option value="0">-- Seleccione un tipo --</option>
                                <option value="1">Actividades por finca</option>
                                <option value="2">Actividades por lote</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="message">
                        <p>
                            * La fecha de busqueda debe ser menor a la fecha de asignacion.
                            * Seleccione una finca valida.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolbar">
            <button class="btn btn-primary mr-2" (click)="planillaActividad()">Buscar</button>

            <button (click)="selectAll()" id="checkAll" class="btn btn-secondary mr-2">Seleccionar todos</button>
            <button *ngIf="show" (click)="duplicarActividades()" class="btn btn-success">Duplicar actividades</button>

        </div>
        <table id="table" data-toolbar="#toolbar" data-toggle="table" data-maintain-meta-data="true" data-show-toggle="true" data-show-columns="true" data-page-size="5">
        </table>
    </div>
</div>