<div class="card">
    <div class="card-header">
        <h4> Reporte de Inversiones</h4>
    </div>

    <div class="card-body">
        <div class="info-box">
            <div class="info-box-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rango de fechas</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Finca</label>
                            <select class="form-control" [(ngModel)]="fincaSelected">
                                <option value="0">-- TODOS --</option>
                                <option [ngValue]="finca.fincaId" *ngFor="let finca of fincas">{{finca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolbar">
            <button class="btn btn-primary" (click)="planillaActividad()">Aplicar filtros</button>
        </div>
        <table id="table" data-toolbar="#toolbar" data-toggle="table" data-page-size="5">
        </table>
    </div>
</div>