<div class="card">
  <div class="card-header">
    <h3 class="card-title">Cargos</h3>
  </div>
  <div class="card-body">
    <div id="toolbar">
      <div *ngIf="!agregar">
        <button class="btn btn-primary" (click)="nuevo()">Nuevo</button>
      </div>
      <div *ngIf="agregar">
        <form [formGroup]="formCargos">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="descripcion" placeholder="Nombre del cargo"
              name="descripcion" required aria-label="Nombre del cargo" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-primary" (click)="guardar()" type="button">Agregar</button>
              <button class="btn btn-secondary" (click)="cancelar()" type="button">Cancelar</button>
            </div>
          </div>
          <div *ngIf="(formCargos.get('descripcion').dirty || formCargos.get('descripcion').touched)">
            <div class="text-danger" *ngIf="formCargos.get('descripcion').errors?.required">
              <small> * La descripcionl es requerida</small>
            </div>
            <div class="text-danger" *ngIf="formCargos.get('descripcion').errors?.maxlength">
              <small> * La descripcion no debe exceder los 255 caracteres</small>
            </div>
          </div>
        </form>

      </div>

    </div>

    <table id="table" data-toolbar="#toolbar" data-toggle="table" data-page-size="5">
    </table>

  </div>

</div>